:root {
    --taveou-green: #4B9F38;
    --taveou-pink-summer: #FF796D; 
    --link-salmon: #F55547;
    --ivory-bg: #FFFDF6;
    --ivory-border: #E8E4D1;
    --paragraph-title: #E8E4D1;
    --paragraph-text: #2B4B5E;
    --gray-light: #F9F9F9;
    --gray-dark: #909090;
    --black: #000;
}