:root {
    --taveou-green: #4B9F38;
    --taveou-pink-summer: #FF796D; 
    --link-salmon: #F55547;
    --ivory-bg: #FFFDF6;
    --ivory-border: #E8E4D1;
    --paragraph-title: #E8E4D1;
    --dark-green: #2B4B5E;
    --gray-light: #F9F9F9;
    --gray-medium: #9B9B9B;
    --gray-dark: #909090;
    --black: #000;
    --black-variant: #4A4A4A;
    --white: #fff;
}
.taveou-lime {
  fill: var(--taveou-green);
}
.taveou-name {
  fill: var(--taveou-pink-summer);  
}
.divider {
  @media (max-width: 767px) {
  position: relative;
  top: -0.4em;
  height: 2px;
  width: 100%;
  margin: 0 1em;
  background: #fffdf6; /* Old browsers */
  background: -moz-linear-gradient(left, #fffdf6 0%, #e8e4d1 50%, #fffdf6 100%);
  background: -webkit-linear-gradient(left, #fffdf6 0%,#e8e4d1 50%,#fffdf6 100%);
  background: linear-gradient(to right, #fffdf6 0%,#e8e4d1 50%,#fffdf6 100%);
  }
}