:root {
  --font-text: "FF DIN", sans-serif;
  --font-weight: 300;
  --line-height: 1.5;
}
body {
   font-family: 'Lato', sans-serif;
}
h2 {
font-size: 3em;
  color: var(--dark-green);
  @media (max-width: 767px) {
    font-size: 2.5em;
    font-weight: 300;
  }
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: var(--dark-green);
  @media (min-width: 768px) {
    font-size: 2em;
  }
}