:root {
  --font-text: "FF DIN", sans-serif;
  --font-weight: 300;
  --line-height: 1.5;
}
body {
   font-family: 'Lato', sans-serif;
}
h2 {
  font-weight: 300;
  font-size: font-responsive  32px 48px;
  color: var(--dark-green);
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: var(--dark-green);
}