@lost flexbox flex;
section {
  height: 100vh;
}
section:nth-child(2) {
  background: lightgreen;
}
section:nth-child(3) {
  background: #FF796D;
}
section:nth-child(4) {
  background: red;
}
section:nth-child(5) {
  background: yellow;
}
main.home-page {
    display: flex;
    flex-direction: column;
}
.hero-content {
    lost-center: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    & .top-link {
        order: 0;
        flex: 0 1 auto;
        align-self: center;  
    }
    & .search-form {
        order: 1;
        flex: 0 1 center;
        align-self: center;
    }
    & .more-link {
        order: 2;
        flex: 0 1 auto;
        align-self: center;        
    }
}