@lost flexbox flex;
:root {
    --desktop-width: 990px;
}
.hero {
  height: 100vh;
  @media (max-width: 767px) {
      height: 60vh;
  }
}
section:nth-child(2) {
  background: #fff;
}
main.home-page {
  display: flex;
  flex-direction: column;
}





/*------------------------------------*\
  #FLEX-HERO
\*------------------------------------*/

.hero__content {
  position: relative;
  z-index: 2;
  lost-center: var(--desktop-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.hero-item__top {
  order: 0;
  flex: 0 1 auto;
  align-self: center;  
}
.hero-item__search {
  order: 1;
  flex: 0 1 center;
  align-self: center;
}
.hero-item__next {
  order: 2;
  flex: 0 1 auto;
  align-self: center;        
}





/*------------------------------------*\
  #FLEX-HERO__SEARCH
\*------------------------------------*/

.search-form {
  display: flex;
  justify-content: space-between;
}
.search-form__group {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.search-form__group:nth-child(1) {
  order: 0;
  flex: 10 0 auto;
  flex-flow: column nowrap;
}
.search-form__group:nth-child(2) {
  order: 1;
  flex: 1 0 auto;
  flex-flow: column nowrap;
}
.search-form__group:nth-child(3) {
  order: 2;
  flex: 1 0 auto;
}





/*------------------------------------*\
  #FLEX-BRAND-INTRO
\*------------------------------------*/

.brand {
  display: flex;
  flex-flow: column nowrap;
}





/*------------------------------------*\
  #FLEX-OFFER
\*------------------------------------*/

.offer {
  display: flex;
  flex-flow: row wrap;
}
.offer__content {
  lost-center: var(--desktop-width);
}





/*------------------------------------*\
  #FLEX-HIGHLIGHTS
\*------------------------------------*/

.highlights {
  display: flex;
  flex-flow: row wrap;
}
.highlights__content {
  lost-center: var(--desktop-width);
}
.highlights__feature {
  display: flex;
  flex-flow: column wrap;
}
.feature__icon {
    align-self: center;
}





/*------------------------------------*\
  #FULL-WIDTH
\*------------------------------------*/

.full-width__content {
  height: 100%;
  display: flex;
}
.full-width__content--column-space-between {
  flex-flow: column wrap;
  justify-content: space-between;
}