@import "flex.css";
@import "./shared/colors.css";
@import "./shared/mixins.css";
@import "./shared/typography.css";
@import "./shared/slide-animation.css";
@import "home.css";

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}
html {
 @media (max-width: 767px) {
    background: resolve("heineken_beer_ad.jpg") no-repeat center top;
  }
}
::placeholder {
    color: var(--gray-medium);
}
#taveou-nightlife {
    width: 100%;
    background-color: var(--ivory-bg);
}