@import "flex.css";
@import "./shared/colors.css";
@import "./shared/typography.css";
@import "home.css";

* {
    margin: 0;
    box-sizing: border-box;
}

::placeholder {
    color: var(--gray-medium);
}
#taveou-nightlife {
    width: 100%;
    background-color: var(--ivory-bg);
}