* {
    margin: 0;
    box-sizing: border-box;
}

#taveou-nightlife {
    width: 100%;
    height: 200px;
    background-color: peachpuff;
}
#why-taveou {
    width: 100%;
    height: 200px;
    background-color: violet;
}

#hero {
    width: 100%;
    height: 200px;
    background-color: gray;
}
.search-form {
    width: 60%;
    background: peachpuff;
}

.more-link {
    width: 50%;
    background: #fff;
}